<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservations (admin) - Crazy Hotel</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="#">Crazy Hotel</a>
    </div>
</header>

<main class="container">
    <h1> Réservations </h1>

</main>

<footer class="footer">
    <p>&copy; 2025 Crazy Hotel</p>
</footer>
</body>
</html>