<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Portail client - Crazy Hotel</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#">Crazy Hotel</a>
        </div>
    </header>

    <main class="dashboard-page">
        <h1> Portail Client </h1>

        <div class="dashboard-grid">
            <a th:href="@{room}" class="dashboard-card">Découvrir nos chambres</a>
            <a th:href="@{reservation}" class="dashboard-card">Gérez vos réservations</a>
            <a th:href="@{loyalty}" class="dashboard-card">Programme de fidélité</a>
            <a th:href="@{events}" class="dashboard-card">Planifier un événement</a>
            <a th:href="@{/stats}" class="dashboard-card">Statistiques</a>
            <a th:href="@{feedback}" class="dashboard-card">Donner un avis</a>
        </div>

    </main>

    <footer class="footer">
        <p>&copy; 2025 Crazy Hotel</p>
    </footer>
</body>
</html>